@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.perfilusuario {
    text-align: center;
}
.perfilusuario img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.perfilusuario h2 {
    margin: 10px 0 5px;
}
.perfilusuario p {
    
    color: gray;
    word-break: break-word;
}
.perfilusuario a {
    color: #007BFF;
    text-decoration: none;
    font-size: 14px;
}
.itinerario {
    margin: 20px 0;
}
.itinerario input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.itinerario label {
    margin: 10px 0;
    display: block;
}
.acciones {
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}
.acciones button {
    font-family: "Poppins", sans-serif;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    display: flex;
}
.acciones button:hover {
    background-color: #0056b3;
}
.acciones .borrar {
    background-color: #dc3545;
}
.acciones .borrar:hover {
    background-color: #c82333;
}
.notifiaciones {
    display: flex;
    align-items: center;
}
.notifiaciones label {
    flex-grow: 1;
}
.notifiaciones input {
    margin-left: 10px;
}
.notificaciones input[type="checkbox"] {
    width: 15px;
    height: 15px;
    cursor: pointer;
    vertical-align: top;
    display: inline-block;
    margin-right: 5px;
  }
  

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .container {
        margin: 20px;
        padding: 15px;
    }
    .perfilusuario img {
        width: 60px;
        height: 60px;
    }
    .acciones button {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .container {
        margin:auto;
        padding: 10px;
    }
    .perfilusuario img {
        width: 50px;
        height: 50px;
    }
    .perfilusuario h2 {
        font-size: 18px;
    }
    .perfilusuario p {
        font-size: 14px;
    }
    .perfilusuario a {
        font-size: 12px;
    }
    .acciones button {
        padding: 6px;
    }
}